:root {
    --pri-theme-color: #399103;
    --dis-theme-color: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('../img/avo_backdrop_cropped.png') bottom;
    background-size: cover !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    background: #BBBBBB;
}

::-webkit-scrollbar-thumb:active {
    background: #dadce0;
}

.LoginCard {
    display: flex;
    width: 33%;
    height: 90vh;
    margin: 5vh auto auto;
    border-radius: 8px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
    overflow-y: auto !important;
}

#edit-announcement-button {
    cursor: pointer;
}

.avo-button {
    border-radius: 16px !important;
    color: var(--pri-theme-color) !important;

    transition: color 0.5s ease-in;
}

.avo-button.disabled {
    color: var(--dis-theme-color) !important;
    transition: color 0.5s ease-in;
}

.avo-user__background {
    /* background-color: white; */
    width: 100%;
    background-size: 100%;
    /*background: url('../img/backdrop_3.svg') center !important;*/
}

.avo-card {
    width: 100%;
    margin: 16px;
    height: fit-content;
    max-height: 80%;
    position: relative;
    border: 1px solid #dadce0;
    border-radius: 8px !important;
    box-shadow: none !important;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    color: rgba(0, 0, 0, .87);
    transition: box-shadow 0.25s ease-in;
}

.avo-card > .avo-card__header-button {
    border-radius: 16px !important;
    position: absolute;
    top: 10px;
    right: 10px;
}

.avo-card > .avo-card__header-button.disabled {
    color: var(--dis-theme-color) !important;
}

.avo-card__header {
    padding-top: 0 !important;
    padding-left: 8px !important;
}

.avo-padding__16px {
    margin: 0 !important;
    padding-left: 8px !important;
}

.avo-card__test-info {
    margin-left: 24px !important;
}

.avo-sidebar {
    box-shadow: none !important;
    border-right: 1px solid #dadce0;
    transition: box-shadow 0.25s ease-in;
}

.avo-modal__card {
    width: 50%;
    margin: auto;
    position: relative;
    border-radius: 8px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
    transform: translateY(110vh) scale(0.5);
    transition: transform 500ms ease-in;
    padding: 8px;
    height: auto;
}

.avo-modal__card.active {
    transform: translateY(10vh) scale(1);
    transition: transform 1000ms ease-in-out;
}

.avo-modal__card-footer {
    position: relative;
    float: right;
}

.avo-menu__item {
    border-radius: 0 50px 50px 0 !important;
    width: 97.5% !important;
}

/* Frank: Commented out the line below so that when a user selects a theme the side bar matches the primary color they selected */
.avo-menu__item.selected {
    /* background: var(--pri-theme-color) !important; */
}

.ToC {
    max-height: 300px;
    overflow-y: scroll;
}

#ToC-here {
    text-decoration: underline;
    cursor: pointer;
    color: var(--pri-theme-color);
}

.avo-styles__link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--pri-theme-color);
}

.avo-styles__footer {
    position: relative;
    text-align: center;
    margin-top: 8px;
}

.avo-styles__float-right {
    position: relative;
    float: right;
}

.avo-drawer__with-logo {
    background: url('../img/ic_school.svg') -45px bottom no-repeat;
    background-size: 50%;
    height: 100%;
    overflow-y: auto;
}

.avo-generic__low-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.avo-loading-icon {
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.avo-progression-gauge-container .avo-progression-gauge {
    width: 70%;
    height: 70%;
    margin: 15%;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
    color: var(--pri-theme-color);
    background: #fff;
}

.avo-progression-gauge-text {
    font-family: 'Roboto';
    font-size: 5px;
    padding-top: 28%;
}

.avo-progression-gauge-subText {
    font-family: 'Roboto';
    font-size: 0.5em;
    color: lightslategrey;
}

.avo-linechart-text {
    font-size: 5px;
    font-family: 'Open Sans', sans-serif;
    color: lightslategrey;
}

.avo-progression-gauge-container .avo-progression-gauge-svg {
    position: absolute;
    transition: stroke-dasharray 1s ease-in-out;
}

.avo-svg-line-chart {
    transition: d 1s ease-in-out;
}

#avo-line-chart-tooltip {
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 9px;
    font-size: 12px;
    padding: 0.5em;
    margin-left: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#avo-bar-chart-tooltip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #399103;
    border-radius: 9px;
    font-size: 12px;
    padding: 0.5em;
    margin-left: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.avo-progression-gauge-triangle {
    transition: d 1s ease-in-out;
    will-change: transform;
}

.avo-progression-gauge-triangle-group1 {
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

.avo-progression-gauge-triangle-group2 {
    -webkit-animation: spin 9s linear infinite;
    -moz-animation: spin 9s linear infinite;
    animation: spin 9s linear infinite;
}

.avo-progression-gauge-triangle-group3 {
    -webkit-animation: spin 14s linear infinite;
    -moz-animation: spin 14s linear infinite;
    animation: spin 14s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        transform-origin: center;
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform-origin: center;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transform-origin: center;
    }
}

.avo-bar-chart-bar {
    transition: d 1s ease-in-out;
}

.avo-clickable-item {
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.avo-clickable-item:hover {
    background: rgba(0, 0, 0, 0.25);
}

.avo-select {
    margin-top: 0.65em !important;
}

.avo-select > select {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.show-children__on-hover .hidden_child {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.show-children__on-hover:hover .hidden_child {
    opacity: 1;
}
