#root {
    position: fixed;
    background-color: #F5F5F5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.LoginCard {
    width: 40%;
    height: 90vh;
    margin-left: 30vw;
    margin-top: 5vh;
}